services:
  strongswan:
    image: moonpath/strongswan:latest
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        - BASE_IMAGE=alpine:latest
    container_name: strongswan
    hostname: strongswan
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    environment:
      DOMAIN: ${DOMAIN:-$HOSTNAME}
    ports:
      - "500:500/udp"
      - "4500:4500/udp"
    extra_hosts:
      - host.docker.internal:host-gateway
    deploy:
      resources:
        limits:
          memory: 0.5g
